@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}
#header {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 10px auto 0;
  .header-top {
    max-width: $width-1;
    margin: 0 auto 10px;
    height: 60px;
    line-height: 60px;
    .header-left {
      float: left;
      .logo {
        a {
          display: block;
          width: 119px;
          height: 54px;
          background: url('../images/logo.png') no-repeat 0 0;
          text-indent: -9999px;
        }
      }
    }
    .header-right {
      float: right;
      .login,
      .sign-up {
        background-color: $mainColor-1;
        color: #fff;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        border: none;
      }
      .sch-bar {
        width: 33px;
        height: 30px;
        background: url('../images/btn-sch-bar.png') no-repeat 0 0;
        text-indent: -9999px;
        border: none;
      }
    }
  }
  .header-bot-bg {
    width: 100%;
    background: $mainColor-1;
  }
  .header-bot {
    max-width: $width-1;
    height: 50px;
    line-height: 60;
    margin: 0 auto;
    .util-menu {
      overflow: hidden;
      line-height: 45px;

      .all-menu.on {
        &.gnb-wrap {
          display: block;
        }
      }
      li {
        float: left;
        margin-right: 20px;
        font-size: 20px;
        color: #fff;
        line-height: 50px;
        height: 50px;
        a {
          img {
            width: 30px;
            height: 30px;
          }
          span {
            margin-left: 10px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
#gnb-scroll-wrap {
  max-width: $width-1;
  position: relative;
  margin: 0 auto;
}
#gnb-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $mainColor-1;
  background: #fff;
  z-index: 10;
  display: none;
  &.on {
    display: block;
  }
  .gnb {
    > ul {
      position: relative;
      max-width: 1200px;
      height: 100%;
      padding: 30px;
      &::after {
        position: absolute;
        top: 70px;
        left: 220px;
        content: '';
        display: block;
        width: 1px;
        height: 300px;
        background-color: $mainColor-2;
      }
      > li {
        margin-bottom: 10px;
        a {
          font-size: 20px;
          font-weight: bold;
          &:hover {
            color: $mainColor-1;
          }
        }
        .sub-menu {
          position: absolute;
          top: 45px;
          left: 260px;
          width: 530px;
          height: 300px;
          padding: 30px;
          overflow-y: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 3px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 1px;
            background-color: $mainColor-2;
          }
          &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
          }
          ul {
            li {
              margin-bottom: 10px;
              a {
                font-size: 16px;
                font-weight: normal;
                &:hover {
                  color: $mainColor-1;
                }
              }
            }
          }
          .sub-menu-2 {
            position: absolute;
            width: 200px;
            top: 0;
            left: 300px;
            padding: 30px;
          }
        }
      }
    }
  }
  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    a {
      display: block;
      text-indent: -9999px;
      &::before {
        position: absolute;
        top: 0;
        left: -10px;
        content: '';
        display: block;
        width: 1px;
        height: 29px;
        background-color: $mainColor-1;
        transform: rotate(45deg);
      }
      &::after {
        position: absolute;
        top: 0;
        left: -10px;
        content: '';
        display: block;
        width: 1px;
        height: 29px;
        background-color: $mainColor-1;
        transform: rotate(-45deg);
      }
    }
  }
}
#container {
  padding-bottom: 50px;
  .cart-wrap {
    max-width: 960px;
    margin: 50px auto 0;
    overflow: hidden;
    h1 {
      font-size: 25px;
      margin-bottom: 15px;
      font-weight: 700;
    }
    .cart-content {
      max-width: 620px;
      float: left;
      border: 1px solid $boarderColor-1;
      > ul {
        overflow: hidden;
        li {
          float: left;
          width: 50%;
          border: 1px solid $boarderColor-1;
          padding: 15px 0;
          font-weight: bold;
          text-align: center;
        }
        .btn-1 {
          background: #f8f8f8;
          &.on {
            border-bottom: 1px solid #fff;
            background: #fff;
          }
        }
        .btn-2 {
          background: #f8f8f8;
          &.on {
            border-bottom: 1px solid #fff;
            background: #fff;
          }
        }
      }
      .cart-member-wrap {
        > div {
          & ~ div {
            display: none;
          }
        }
      }
      .cart-member {
        form {
          .check-box-1 {
            width: 100%;
            height: 60px;
            padding: 15px 20px;
            position: relative;
            border-bottom: 1px solid $boarderColor-1;
            input[type='checkbox'] {
              width: 18px;
              height: 18px;
              + label {
                padding-left: 30px;
              }
            }
            .cart-box-btn {
              position: absolute;
              top: 14px;
              right: 15px;
              button {
                height: 28px;
                background: #fff;
                border: 1px solid $boarderColor-1;
                padding: 7px;
                line-height: 1em;
                border-radius: 4px;
              }
            }
          }
          .check-box-2 {
            width: 100%;
            height: 60px;
            padding: 15px 20px;
            position: relative;
            border-top: 1px solid $boarderColor-1;
            input[type='checkbox'] {
              width: 18px;
              height: 18px;
              + label {
                padding-left: 30px;
              }
            }
            .cart-box-btn {
              position: absolute;
              top: 14px;
              right: 15px;
              button {
                height: 28px;
                background: #fff;
                border: 1px solid $boarderColor-1;
                padding: 7px;
                line-height: 1em;
                border-radius: 4px;
              }
            }
          }
          .cart-goods {
            position: relative;
            padding: 15px 20px;
            width: 100%;
            vertical-align: middle;
            input[type='checkbox'] {
              width: 18px;
              height: 18px;
              + label {
                position: relative;
                left: -9999px;
              }
            }
            > a {
              display: inline-block;
              width: 60px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .cart-goods-info {
              display: inline;
              .cart-goods-tit {
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
              }
              .cart-goods-author {
                display: block;
                font-size: 12px;
              }
              ul {
                display: inline-block;
                padding-left: 200px;
                .price-b {
                  color: $boarderColor-1;
                  text-decoration: line-through;
                }
                .price-o {
                  em {
                    color: #eb5847;
                  }
                  color: $mainColor-1;
                  font-weight: bold;
                }
              }
            }
            .cart-goods-btn {
              position: absolute;
              top: 70px;
              left: 166px;
              button {
                height: 28px;
                background: #fff;
                border: 1px solid $boarderColor-1;
                padding: 7px;
                line-height: 1em;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
    .cart-price-list {
      width: 300px;
      float: right;
      .pr-1 {
        width: 100%;
        border: 1px solid $mainColor-1;
        .goods-choice {
          padding: 20px 20px 0 20px;
          color: $mainColor-1;
          font-size: 12px;
          font-weight: 700;
          background: #fff;
        }
        ul {
          margin-bottom: 20px;
          li {
            padding: 15px 20px 0 20px;
            display: table;
            width: 100%;
            span {
              display: table-cell;
              font-weight: 700;
            }
            .choice-price {
              text-align: right;
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
        p {
          padding: 20px;
          background: $mainColor-2;
          font-weight: 700;
          position: relative;
          span {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 20px;
            font-weight: bold;
            color: $mainColor-1;
          }
        }
      }
      input[type='submit'] {
        width: 300px;
        height: 53px;
        border: none;
        background: $mainColor-1;
        color: #fff;
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}
#bg-footer {
  width: 100%;
  background: $footerColor-1;
}
#footer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  color: #fff;
  ul {
    text-align: center;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
  }
}

@media (max-width: 930px) and (min-width: 360px) {
  #header {
    .header-bot {
      overflow-x: auto;
      .util-menu {
        li {
          width: 10%;
          text-align: center;
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
  #container {
    .cart-content {
      float: none !important;
      margin: 0 auto;
    }
    .cart-price-list {
      padding-top: 50px;
      float: none !important;
      margin: 0 auto;
      width: 100%;
    }
  }
  #footer {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        margin-left: 0;
        padding: 10px;
      }
    }
    .footer-left {
      float: none;
      text-align: center;
      .company-info {
        display: none;
      }
      address {
        display: none;
      }
      .copyright {
        display: block;
        padding: 20px;
      }
    }
    .footer-right {
      display: none;
    }
  }
}
@media (max-width: 800px) and (min-width: 471px) {
  #gnb-wrap {
    .gnb {
      > ul {
        > li {
          .sub-menu {
            width: 200px;
            .sub-menu-2 {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 470px) and (min-width: 360px) {
  #gnb-wrap {
    .gnb {
      > ul {
        &::after {
          left: 173px;
        }
        > li {
          .sub-menu {
            width: 180px;
            left: 168px;
            .sub-menu-2 {
              display: none;
            }
          }
        }
      }
    }
  }
}
