@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}
.info-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-top: 50px;
}
.info-tit-2 {
  font-size: 16px;
  font-weight: bold;
  padding: 30px 0;
}
#web-banner {
  width: 100%;
  height: 60px;
  background-color: $mainColor-2;
  ul {
    li {
      & ~ li {
        display: none;
      }
      a {
        img {
          object-fit: cover;
        }
      }
    }
  }
}
#header {
  position: relative;
  max-width: $width-1;
  height: 120px;
  margin: 0 auto;
  .header-top {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    .header-left {
      float: left;
      .logo {
        a {
          display: block;
          width: 119px;
          height: 54px;
          background: url('../images/logo.png') no-repeat 0 0;
          text-indent: -9999px;
        }
      }
    }
    .header-right {
      float: right;
      .login,
      .sign-up {
        background-color: $mainColor-1;
        color: #fff;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        border: none;
      }
      .sch-bar {
        width: 33px;
        height: 30px;
        background: url('../images/btn-sch-bar.png') no-repeat 0 0;
        text-indent: -9999px;
        border: none;
      }
    }
  }
  .header-bot {
    width: 100%;
    height: 60px;
    line-height: 60;
    .util-menu {
      overflow: hidden;
      line-height: 45px;
      li {
        float: left;
        margin-right: 20px;
        font-size: 20px;
        color: $mainColor-1;
        &:first-child {
          width: 120px;
          height: 50px;
          line-height: 45px;
          background-color: $mainColor-1;
          color: #fff;
          text-align: center;
        }
        a {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  .gnb-wrap {
    position: relative;
    top: -10px;
    left: 0;
    border: 1px solid $mainColor-1;
    background: #fff;
    z-index: 10;
    display: none;
    .gnb {
      > ul {
        position: relative;
        width: 500px;
        height: 100%;
        padding: 30px;
        &::after {
          position: absolute;
          top: 70px;
          left: 220px;
          content: '';
          display: block;
          width: 1px;
          height: 300px;
          background-color: $mainColor-2;
        }
        > li {
          margin-bottom: 10px;
          a {
            font-size: 20px;
            font-weight: bold;
            &:hover {
              color: $mainColor-1;
            }
          }
          .sub-menu {
            position: absolute;
            top: 45px;
            left: 260px;
            width: 530px;
            height: 300px;
            padding: 30px;
            overflow-y: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              width: 3px;
            }
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 1px;
              background-color: $mainColor-2;
            }
            &::-webkit-scrollbar-button {
              width: 0;
              height: 0;
            }
            ul {
              li {
                margin-bottom: 10px;
                a {
                  font-size: 16px;
                  font-weight: normal;
                  &:hover {
                    color: $mainColor-1;
                  }
                }
              }
            }
            .sub-menu-2 {
              position: absolute;
              width: 200px;
              top: 0;
              left: 300px;
              padding: 30px;
            }
          }
        }
      }
    }
    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      a {
        display: block;
        text-indent: -9999px;
        &::before {
          position: absolute;
          top: 0;
          left: -10px;
          content: '';
          display: block;
          width: 1px;
          height: 29px;
          background-color: $mainColor-1;
          transform: rotate(45deg);
        }
        &::after {
          position: absolute;
          top: 0;
          left: -10px;
          content: '';
          display: block;
          width: 1px;
          height: 29px;
          background-color: $mainColor-1;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
#container {
  border-top: 1px solid $mainColor-1;
  .location-bg {
    width: 100%;
    background: #f8f8f8;
    .location {
      max-width: 960px;
      margin: 0 auto;
      ul {
        overflow: hidden;
        padding: 10px 0;
        li {
          position: relative;
          float: left;
          padding-right: 25px;
          &::after {
            position: absolute;
            top: 0;
            left: -15px;
            content: ' \003E';
          }
          a {
            font-size: 16px;
            color: $fontColor-1;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  .goods-book-wrap {
    .goods-front {
      max-width: 960px;
      margin: 50px auto 0;
      overflow: hidden;
      .book-img {
        float: left;
        width: 250px;
        img {
          display: block;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        }
        .btn-img-book {
          display: block;
          margin-top: 40px;
          a {
            display: inline-block;
            border: 1px solid $boarderColor-1;
            background: #fff;
            width: 78px;
            height: 28px;
            line-height: 28px;
            text-align: center;
          }
        }
      }
      .front-top {
        float: left;
        margin-left: 30px;
        width: 680px;
        .info-any {
          padding-bottom: 5px;
          a {
            display: inline-block;
            border: 1px solid $boarderColor-1;
            background: #fff;
            text-align: center;
            height: 20px;
            font-size: 12px;
          }
        }
        .keynote {
          padding-bottom: 5px;
          margin-left: 5px;
        }
        .info-top {
          border-bottom: 1px solid $boarderColor-1;
          padding-bottom: 30px;
          .tit-area {
            padding-bottom: 10px;
            .book-name {
              font-size: 23px;
              font-weight: 600;
              margin-right: 2px;
              .book-name-dl {
                color: $mainColor-1;
                font-size: 14px;
              }
            }
          }
          .pub-area {
            padding-bottom: 10px;
            display: block;
            span {
              position: relative;
              display: inline-block;
              margin-right: 10px;
              &::after {
                position: absolute;
                top: 5px;
                left: 63px;
                content: '';
                display: block;
                width: 1px;
                height: 10px;
                background-color: $fontColor-1;
              }
              &:last-of-type::after {
                display: none;
              }
            }
          }
          .rating-area {
            display: block;
            span {
              margin-right: 10px;
              position: relative;
            }
            .rating-star {
              display: inline-block;
              padding-left: 80px;
              background: url('../images/goods/goods-rating-star.png') no-repeat
                0;
              .rating-star-num {
                height: 20px;
                line-height: 20px;
                font-size: 20px;
                font-weight: 600;
              }
            }
            .rating-top {
              em {
                display: inline-block;
                width: 50px;
                height: 20px;
                background: url('../images/goods/main-rating-best.png')
                  no-repeat 0 0;
                color: #fff;
              }
            }
          }
        }
        .info-bot {
          overflow: hidden;
          .price-area {
            padding-top: 30px;
            float: left;
            width: 430px;
            .price-table {
              padding-bottom: 20px;
              border-bottom: 1px solid $boarderColor-1;
              table {
                width: 100%;
                text-align: left;
                tr {
                  th {
                    width: 110px;
                    padding: 5px 0;
                  }
                  td {
                    padding: 5px 0;
                  }
                  &:nth-child(2) {
                    td {
                      font-size: 28px;
                      color: #ff6666;
                      span {
                        font-size: 14px;
                      }
                    }
                  }
                  &:nth-child(3) {
                    td {
                      font-size: 28px;
                      color: #ff6666;
                    }
                  }
                }
              }
            }
            .price-other-form {
              table {
                tr {
                  text-align: left;
                  th {
                    padding: 20px 0;
                    width: 110px;
                  }
                  td {
                    padding: 20px 0;
                  }
                }
              }
              ul {
                width: 100%;
                display: table;
                table-layout: fixed;
                background: #fff;
                font-size: 12px;
                li {
                  position: relative;
                  display: table-cell;
                  width: 33.33%;
                  border: 1px solid $boarderColor-1;
                  padding: 6px 0 9px 15px;
                  a {
                    em {
                      color: $mainColor-2;
                    }
                    ::after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 20px;
                      right: 16px;
                      width: 0;
                      height: 0;
                      border-top: 4px solid transparent;
                      border-left: 8px solid $boarderColor-1;
                      border-right: none;
                      border-bottom: 4px solid transparent;
                    }
                  }
                }
              }
            }
          }
          .action-area {
            float: right;
            width: 220px;
            background: #f8f8f8;
            padding: 16px 20px 14px;
            .action-top {
              border-bottom: 1px solid $boarderColor-1;
              padding-bottom: 10px;
              .action-now {
                padding-bottom: 5px;
                font-weight: bold;
              }
              .quantity {
                position: relative;
                padding: 5px 0;
                label {
                  padding-right: 35px;
                  + input {
                    width: 60px;
                    height: 22px;
                  }
                }
                button {
                  position: absolute;
                  border: 1px solid $boarderColor-1;
                  background-color: transperent;
                  width: 24px;
                  height: 24px;
                }
                .count-m {
                  top: 4px;
                  left: 39px;
                  background: url('../images/goods/goods-btn-less-1.png')
                    no-repeat 0 0;
                }
                .count-p {
                  top: 4px;
                  right: 33px;
                  background: url('../images/goods/goods-btn-more-1.png')
                    no-repeat 0 0;
                }
              }
              > span {
                display: block;
                padding: 5px 0;
              }
              .btn-buy-cart {
                padding-top: 15px;
                a {
                  display: block;
                  width: 180px;
                  height: 40px;
                  line-height: 40px;
                  background-color: $mainColor-1;
                  color: #fff;
                  text-align: center;
                  margin-bottom: 10px;
                }
              }
              > p {
                font-size: 11px;
                font-weight: normal;
                padding: 5px 0;
                span {
                  border: 1px solid $boarderColor-1;
                  padding: 0 4px;
                  background: #fff;
                  font-weight: normal;
                  margin-right: 5px;
                }
                strong {
                  font-weight: bold;
                  padding-left: 5px;
                }
              }
              .speed-deli {
                border: 1px solid $boarderColor-1;
                padding: 5px 5px;
                position: relative;
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 7px;
                  right: 16px;
                  width: 0;
                  height: 0;
                  border-top: 8px solid transparent;
                  border-left: 16px solid $boarderColor-1;
                  border-right: none;
                  border-bottom: 8px solid transparent;
                }
              }
            }
            .action-bot {
              padding-top: 15px;
              font-size: 12px;
              .ect {
                li {
                  padding: 2px 0 1px 15px;
                  position: relative;
                  &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 9px;
                    left: 5px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: $fontColor-1;
                  }
                }
              }
              button {
                display: block;
                width: 180px;
                height: 40px;
                line-height: 40px;
                border: 1px solid $boarderColor-1;
                color: $fontColor-1;
                background: #fff;
                text-align: center;
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
    .goods-tab-nav-bg {
      width: 100%;
      background: #f8f8f8;
      height: 60px;
      border-bottom: 1px solid $fontColor-1;
      .goods-tab-nav {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 50px;
        ul {
          display: inline-block;
          overflow: hidden;
          max-width: 521px;
          li {
            float: left;

            a {
              font-size: 16px;
              font-weight: bold;
              display: block;
              width: 170px;
              height: 59px;
              line-height: 59px;
              text-align: center;
              &:focus {
                background: #333;
                color: #fff;
              }
            }
            ~ li {
              border-left: 1px solid $boarderColor-1;
            }
          }
        }
        .goods-tab-price-wrap {
          position: absolute;
          top: 11px;
          right: 0;
          .goods-tab-price {
            color: #ff6666;
            font-size: 24px;
            em {
              font-size: 14px;
            }
          }
          .tab-price-btn-1 {
            a {
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background: $mainColor-1;
              margin-left: 10px;
              color: #fff;
            }
          }
          .tab-price-btn-2 {
            a {
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background: $mainColor-1;
              margin-left: 10px;
              color: #fff;
            }
          }
        }
      }
    }
    .goods-back {
      max-width: 960px;
      margin: 0 auto;
      .info-set {
        table {
          width: 100%;
          text-align: left;
          tbody {
            border-top: 1px solid $boarderColor-1;
            border-bottom: 1px solid $boarderColor-1;
            tr {
              border: 1px solid #ebebeb;
              border-left: none;
              border-right: none;
              th {
                width: 170px;
                padding: 12px 0;
                border-right: 1px solid #ebebeb;
                background: #f8f8f8;
                text-align: center;
              }
              td {
                padding: 12px 14px;
              }
            }
          }
        }
      }
      .category {
        padding-bottom: 50px;
        border-bottom: 1px solid $boarderColor-1;
        ul {
          li {
            position: relative;
            padding: 2px 0 1px 15px;
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 10px;
              left: 5px;
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background: #333;
            }
            a {
              position: relative;
              padding-right: 20px;
              &::after {
                content: ' \003E';
                display: block;
                position: absolute;
                top: 0;
                left: -17px;
              }
              &:first-of-type::after {
                display: none;
              }
            }
          }
          padding-bottom: 15px;
        }
      }
    }
    .event {
      padding-bottom: 50px;
      border-bottom: 1px solid $boarderColor-1;
      ul {
        width: 100%;
        li {
          position: relative;
          .event-img {
            position: absolute;
            top: 0;
            left: 0;
          }
          .event-info {
            padding-left: 160px;
            span {
              display: block;
              a {
                font-weight: bold;
              }
            }
            .event-info-goods {
              display: inline-block;
              border: 1px solid $boarderColor-1;
            }
          }
        }
      }
    }
    .book-intro {
      padding-bottom: 50px;
      border-bottom: 1px solid $boarderColor-1;
      .md-choice {
        width: 100%;
        padding: 25px 30px;
        span {
          display: block;
          font-weight: bold;
          padding-bottom: 10px;
          color: $fontColor-1;
        }
        border: 1px solid $boarderColor-1;
        background: #f8f8f8;
        color: $fontColor-2;
      }
      .txt-line {
        padding-top: 25px;
        font-size: 15px;
        color: $fontColor-1;
        strong {
          color: $fontColor-2;
        }
        p {
          padding-top: 25px;
        }
      }
      .preview {
        padding-top: 25px;
        .preview-1 {
          position: relative;
          color: $mainColor-1;
          padding: 0 15px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 5px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $fontColor-1;
          }
        }
        .preview-2 {
          font-size: 12px;
          padding: 0 7px;
          border: 1px solid $boarderColor-1;
        }
      }
    }
    .chapter {
      padding-bottom: 50px;
      border-bottom: 1px solid $boarderColor-1;
      ul {
        font-size: 15px;
        li {
          padding-bottom: 5px;
          color: $fontColor-2;
        }
      }
    }
    .author {
      padding-bottom: 50px;
      .author-ingo-wrap {
        width: 100%;
        border: 1px solid $boarderColor-1;
        .author-tit {
          width: 100%;
          display: table;
          background: #f8f8f8;
          .author-name {
            display: table-cell;
            padding: 13px 10px 13px 20px;
            line-height: 24px;
            font-size: 16px;
            color: $fontColor-1;
            font-weight: bold;
          }
          .author-file {
            display: table-cell;
            padding: 10px 9px 10px 0;
            text-align: right;
            vertical-align: middle;
            a {
              display: inline-block;
              border: 1px solid $boarderColor-1;
              background: #fff;
              padding: 0 7px;
              height: 28px;
              line-height: 28px;
            }
          }
        }
        .author-content {
          padding-top: 30px;
          margin: 0 30px;
          .author-profile {
            overflow: hidden;
            padding-bottom: 30px;
            border-bottom: 1px solid $boarderColor-1;
            position: relative;
            .author-img {
              display: block;
              float: left;
              width: 120px;
              height: 120px;
              border-radius: 120px;
              background: url('../images/6689890.jpg') no-repeat left top;
              background-size: cover;
              margin-right: 26px;
            }
            .author-intro {
              height: 160px;
              overflow: hidden;
              font-size: 15px;
              line-height: 1.74em;
              color: $fontColor-1;
            }
            .author-intro-btn {
              text-align: right;
              padding-top: 10px;
              a {
                font-size: 15px;
                border: none;
                color: $mainColor-1;
                background: #fff;
                &::after {
                  display: inline-block;
                  content: '';
                  width: 9px;
                  height: 6px;
                  background: url('../images/goods/btn-more-1.png') no-repeat 0
                    0;
                }
              }
              .btn-less {
                display: none;
                &::after {
                  display: inline-block;
                  content: '';
                  width: 9px;
                  height: 6px;
                  background: url('../images/goods/btn-less-1.png') no-repeat 0
                    0;
                }
              }
            }
          }
          .author-interview {
            padding-bottom: 30px;
            border-bottom: 1px solid $boarderColor-1;
            ul {
              padding-top: 20px;
              overflow: hidden;
              li {
                position: relative;
                float: left;
                padding: 0 0 10px 15px;
                &::before {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 10px;
                  left: 5px;
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                  background: #333;
                }
              }
            }
          }
          .author-other-book {
            padding-bottom: 30px;
            ul {
              width: 100%;
              display: table;
              table-layout: fixed;
              text-align: center;
              li {
                display: table-cell;
                span {
                  padding: 10px 0;
                  display: block;
                  &:nth-of-type(2) {
                    padding: 0;
                  }
                  em {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
    .pub-review {
      padding-bottom: 50px;
      border-bottom: 1px solid $boarderColor-1;
      p {
        strong {
          display: block;
          padding: 10px 0;
        }
        font-size: 15px;
        line-height: 1.74em;
        color: $fontColor-1;
      }
    }
    .reader-review {
      padding-bottom: 50px;

      p {
        padding-bottom: 5px;
        span {
          display: block;
        }
      }
      .txt-area {
        .star-making {
          padding-bottom: 10px;
          text-align: left;
          li {
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url('../images/goods/btn-star-one-emp.png') no-repeat 0
              0;
            &:first-child {
              background: none;
              width: auto;
              height: auto;
              font-size: 16px;
            }
          }
        }
        .review-write {
          display: table;
          width: 100%;
          border: 1px solid $boarderColor-1;
          padding: 30px;
          background: #f8f8f8;
          .reply-wrap {
            position: relative;
            textarea {
              display: table-cell;
              width: 100%;
              height: 100px;
              resize: none;
              padding: 5px;
            }
            .reply-1 {
              position: absolute;
              bottom: -3px;
              right: 15px;
              span {
                display: inline;
              }
            }
          }
          .review-notice {
            overflow: hidden;
            padding-top: 10px;
            span {
              float: left;
              margin-left: 0;
            }
            .review-notice-btn {
              float: right;
              button {
                width: 100px;
                height: 30px;
                border: none;
                background: $mainColor-1;
                color: #fff;
                font-size: 16px;
              }
              input[type='checkbox'] {
                width: 18px;
                height: 18px;
                border: 1px solid $boarderColor-1;
                margin-right: 5px;
                line-height: 18px;
                + label {
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
      .star-review-list {
        h4 {
          text-align: center;
          span {
            color: $mainColor-1;
          }
        }
        .review-rating {
          text-align: center;
          p {
            .star-total {
              display: inline-block;
              width: 219px;
              height: 36px;
              background: url('../images/goods/five-star-b.png');
            }
            strong {
              font-size: 48px;
              font-weight: bold;
              + span {
                display: inline;
                font-size: 30px;
                font-weight: normal;
                color: #333;
              }
            }
          }
        }
        .review-text {
          padding-top: 30px;
          .review-text-tab {
            overflow: hidden;
            border-bottom: 2px solid $boarderColor-1;
            line-height: 1em;
            color: #666;
            p {
              float: left;
              font-size: 15px;
            }
            ul {
              float: right;
              overflow: hidden;
              li {
                float: left;
                padding-left: 10px;
                position: relative;
                & ~ li::before {
                  content: '';
                  display: block;
                  width: 1px;
                  height: 10px;
                  background: #666;
                  position: absolute;
                  top: 3px;
                  left: 5px;
                }
              }
            }
          }
          .review-text-list {
            > ul {
              > li {
                position: relative;
                padding-top: 15px;
                display: table;
                width: 100%;
                border-bottom: 1px solid $boarderColor-1;
                .left-content {
                  display: table-cell;
                  font-size: 12px;
                  p {
                    .review-star {
                      width: 78px;
                      height: 13px;
                      background: url('../images/goods/goods-rating-star.png')
                        no-repeat 0 0;
                      padding-bottom: 0;
                    }
                    .review-name {
                      display: block;
                    }
                  }
                  ul {
                    overflow: hidden;
                    li {
                      float: left;
                      color: #666;
                      padding-right: 5px;
                    }
                  }
                }
                .review-recommend {
                  position: absolute;
                  right: 10px;
                  bottom: 10px;
                  button {
                    border: 1px solid $boarderColor-1;
                    border-radius: 5px;
                    width: 30px;
                    height: 25px;
                    text-indent: -99999px;
                  }
                  .recommend-talk {
                    background: url('../images/goods/review-ico-btn-talk.png')
                      no-repeat 50%;
                  }
                  .recommend-thumbs {
                    background: url('../images/goods/review-ico-btn-thumb.png')
                      no-repeat 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .delivery {
      .delivery-info {
        table {
          width: 100%;
          text-align: left;
          tbody {
            border-top: 1px solid $boarderColor-1;
            border-bottom: 1px solid $boarderColor-1;
            tr {
              border: 1px solid #ebebeb;
              border-left: none;
              border-right: none;
              th {
                width: 170px;
                padding: 12px 0;
                border-right: 1px solid #ebebeb;
                background: #f8f8f8;
                text-align: center;
              }
              td {
                padding: 12px 14px;
              }
            }
          }
        }
      }
      .refund {
        table {
          width: 100%;
          text-align: left;
          tbody {
            border-top: 1px solid $boarderColor-1;
            border-bottom: 1px solid $boarderColor-1;
            tr {
              border: 1px solid #ebebeb;
              border-left: none;
              border-right: none;
              th {
                width: 170px;
                padding: 12px 0;
                border-right: 1px solid #ebebeb;
                background: #f8f8f8;
                text-align: center;
              }
              td {
                padding: 12px 14px;
              }
            }
          }
        }
      }
    }
  }
}
#bg-footer {
  margin-top: 50px;
  width: 100%;
  background: $footerColor-1;
}
#footer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  ul {
    text-align: center;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
  }
}
