@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  width: 100%;
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}

#web-banner {
  width: 100%;
  background-color: $mainColor-2;
  height: auto;
  position: static;
  ul {
    li {
      &:nth-child(2n + 1) {
        display: none;
      }
      a {
        &.on {
          display: block;
        }
      }
    }
  }
}
