@charset "utf-8";
@import url('../css/reset.css');
@import 'design';
.book-tit {
  font-size: 16px;
  font-weight: bold;
}
.p-choice-1 {
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.author-pub {
  font-size: 14px;
  display: block;
  font-weight: normal;
  text-align: center;
}
.sec-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
body {
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}
#web-banner {
  width: 100%;
  height: 60px;
  background-color: $mainColor-2;
  ul {
    li {
      & ~ li {
        display: none;
      }
      a {
        img {
          object-fit: cover;
        }
      }
    }
  }
}

#header {
  position: relative;
  max-width: $width-1;
  height: 120px;
  margin: 0 auto;
  .header-top {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    .header-left {
      float: left;
      .logo {
        a {
          display: block;
          width: 119px;
          height: 54px;
          background: url('../images/logo.png') no-repeat 0 0;
          text-indent: -9999px;
        }
      }
    }
    .header-right {
      float: right;
      .login,
      .sign-up {
        background-color: $mainColor-1;
        color: #fff;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        border: none;
      }
      .sch-bar {
        width: 33px;
        height: 30px;
        background: url('../images/btn-sch-bar.png') no-repeat 0 0;
        text-indent: -9999px;
        border: none;
      }
    }
  }
  .header-bot {
    width: 100%;
    height: 60px;
    line-height: 60;
    .util-menu {
      overflow: hidden;
      line-height: 45px;
      .all-menu.on {
        &.gnb-wrap {
          display: block;
        }
      }
      li {
        float: left;
        margin-right: 20px;
        font-size: 20px;
        color: $mainColor-1;
        &:first-child {
          width: 120px;
          height: 50px;
          line-height: 45px;
          background-color: $mainColor-1;
          color: #fff;
          text-align: center;
        }
        a {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
#gnb-wrap {
  position: relative;
  top: -10px;
  left: 0;
  border: 1px solid $mainColor-1;
  background: #fff;
  z-index: 10;
  display: none;
  &.on {
    display: block;
  }
  .gnb {
    > ul {
      position: relative;
      max-width: 1200px;
      height: 100%;
      padding: 30px;
      &::after {
        position: absolute;
        top: 70px;
        left: 220px;
        content: '';
        display: block;
        width: 1px;
        height: 300px;
        background-color: $mainColor-2;
      }
      > li {
        margin-bottom: 10px;
        a {
          font-size: 20px;
          font-weight: bold;
          &:hover {
            color: $mainColor-1;
          }
        }
        .sub-menu {
          position: absolute;
          top: 45px;
          left: 260px;
          width: 530px;
          height: 300px;
          padding: 30px;
          overflow-y: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 3px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 1px;
            background-color: $mainColor-2;
          }
          &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
          }
          ul {
            li {
              margin-bottom: 10px;
              a {
                font-size: 16px;
                font-weight: normal;
                &:hover {
                  color: $mainColor-1;
                }
              }
            }
          }
          .sub-menu-2 {
            position: absolute;
            width: 200px;
            top: 0;
            left: 300px;
            padding: 30px;
          }
        }
      }
    }
  }
  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    a {
      display: block;
      text-indent: -9999px;
      &::before {
        position: absolute;
        top: 0;
        left: -10px;
        content: '';
        display: block;
        width: 1px;
        height: 29px;
        background-color: $mainColor-1;
        transform: rotate(45deg);
      }
      &::after {
        position: absolute;
        top: 0;
        left: -10px;
        content: '';
        display: block;
        width: 1px;
        height: 29px;
        background-color: $mainColor-1;
        transform: rotate(-45deg);
      }
    }
  }
}
#container {
  background: #f8f8f8;
  border-top: 1px solid $mainColor-1;
  *[class*='sec-'] {
    margin-top: 30px;
  }
  .sec-1 {
    border: 1px solid $boarderColor-1;
    background: #fff;
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 0 39px 0 40px;
    .slide-banner-wrap {
      position: relative;
      width: 100%;
      height: 440px;
      .paged {
        position: absolute;
        top: 0;
        height: 0;
        overflow: hidden;
        &:nth-of-type(1) {
          height: auto;
        }
        .bx-prev {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          margin-top: -65px;
          width: 80px;
          height: 80px;
          background: url('../images/btn-slide-prev.png') no-repeat 0 0;
          text-indent: -9999px;
          z-index: 5;
        }
        .bx-next {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -65px;
          width: 80px;
          height: 80px;
          background: url('../images/btn-slide-next.png') no-repeat 0 0;
          text-indent: -9999px;
          z-index: 5;
        }
        .bx-pager {
          text-align: center;
          padding-top: 30px;
          z-index: 5;
          .bx-pager-item {
            display: inline-block;
            padding: 0 22px;
            .bx-pager-link {
              display: inline-block;
              width: 20px;
              height: 20px;
              background-color: $mainColor-2;
              border-radius: 10px;
              text-indent: -9999px;
              &.active {
                background-color: $mainColor-1;
              }
            }
          }
        }
      }
      .slide-banner-paging {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        li {
          float: left;
          border-left: 1px solid #fff;
          width: 11.1%;
          height: 40px;
          &:first-child {
            border-left: 0;
          }
          a {
            display: block;
            text-align: center;
            line-height: 40px;
            background: $mainColor-1;
            color: #fff;
            &:hover {
              background: $mainColor-2;
              color: #333;
            }
            &:focus {
              background: $mainColor-2;
              color: #333;
            }
          }
        }
      }
    }
  }
  .sec-2 {
    .keyword {
      h2 {
        span {
          display: block;
          font-size: 16px;
        }
      }
    }
    .table-wrap {
      width: 100%;
      overflow-x: auto;
      .table-list {
        width: 960px;
        height: 363px;
        margin: 46px auto 0;
        position: relative;
        a {
          position: absolute;
          display: block;
          width: 119px;
          height: 119px;
          text-align: center;
          border: 1px solid #eee;
          font-size: 14px;
          line-height: 18px;
          &:hover {
            border: 1px solid $mainColor-2;
            color: $mainColor-2;
          }
          span {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .sec-3 {
    .time-book {
      max-width: 960px;
      margin: 0 auto;
      position: relative;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 96px;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;
        text-align: center;
        background-color: $mainColor-1;
        color: #fff;
      }
    }
    .best-seller-now-wrap {
      width: 100%;
      overflow-x: auto;
      .best-now {
        width: 960px;
        margin: 50px auto 0;
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 20px;
          column-gap: 20px;
          li {
            justify-self: start;
            position: relative;
            .rank {
              position: absolute;
              top: 20px;
              left: 70px;
            }
            a {
              display: block;
              img {
                width: 50px;
                min-height: 71px;
                margin-right: 50px;
              }
              p {
                display: inline-block;
                position: relative;
                top: 10px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  .sec-4 {
    max-width: $width-1;
    margin: 0 auto;
    .aladin-tv-wrap {
      max-width: 960px;
      margin: 50px auto 0;
      .main {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        li {
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in;
            width: 100%;
            height: 100%;
            &.on {
              opacity: 1;
              z-index: 5;
            }
          }
        }
      }
      .map-image {
        margin-top: 20px;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          li {
            width: 20%;
            span {
              display: block;
              text-align: center;
              font-size: 16px;
              margin-bottom: 10px;
              color: $footerColor-1;
            }
          }
        }
      }
    }
  }
  .sec-5 {
    max-width: 960px;
    margin: 0 auto;
    h2 {
      &::after {
        display: block;
        content: '';
        max-width: 100%;
        height: 1px;
        background-color: $boarderColor-1;
        margin: 20px auto;
      }
    }
    > ul {
      overflow: hidden;
      > li {
        width: 20%;
        display: block;
        float: left;
        text-align: center;
        font-size: 14px;
        ul {
          margin-top: 20px;
          font-size: 12px;
          li {
            padding-bottom: 10px;
          }
        }
      }
    }
    .notice {
      max-width: 960px;
      height: 60px;
      margin: 0 auto;
      line-height: 40px;
      padding: 10px;
      position: relative;
      font-size: 16px;
      h3 {
        float: left;
        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 21px;
          background-color: #000;
          position: absolute;
          top: 20px;
          left: 81px;
        }
      }
      ul {
        float: left;
        margin-left: 20px;
        font-size: 14px;
        li {
          & ~ li {
            display: none;
          }
        }
      }
      button {
        position: absolute;
        right: 0;
        text-indent: -99999px;
        width: 15px;
        height: 15px;
        border: none;
      }
      .btn-notice-prev {
        top: 15px;
        background: url('../images/btn_notice_1.png') no-repeat 0 0;
        background-size: contain;
      }
      .btn-notice-next {
        top: 30px;
        background: url('../images/btn_notice_2.png') no-repeat 0 0;
        background-size: contain;
      }
    }
  }
}
#bg-footer {
  margin-top: 50px;
  width: 100%;
  background: $footerColor-1;
}
#footer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  ul {
    text-align: center;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
  }
}
