@charset "utf-8";
@import url('../css/reset.css');
@import 'design';
.book-tit {
  font-size: 16px;
  font-weight: bold;
}
.p-choice-1 {
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.author-pub {
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.sec-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
body {
  max-width: 100%;
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}
#web-banner {
  width: 100%;
  height: 60px;
  background-color: $mainColor-2;
  ul {
    li {
      & ~ li {
        display: none;
      }
      a {
        img {
          object-fit: cover;
        }
      }
    }
  }
}
#wrap-aladin {
  max-width: $width-1;
  margin: 0 auto;
}
#header {
  position: relative;
  max-width: 100%;
  height: 120px;
  padding-top: 20px;
  .header-top {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    .header-left {
      float: left;
      .logo {
        a {
          display: block;
          width: 119px;
          height: 54px;
          background: url('../images/logo.png') no-repeat 0 0;
          text-indent: -9999px;
        }
      }
    }
    .header-center {
      float: left;
      padding-left: 300px;
      input[type='text'] {
        width: 350px;
        height: 40px;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 5px;
      }
      label {
        position: relative;
        top: 17px;
        left: -43px;
        display: inline-block;
        width: 33px;
        height: 30px;
        background: url('../images/btn-sch-bar.png') no-repeat 0 0;
        text-indent: -9999px;
      }
    }
    .header-right {
      float: right;
      .login,
      .sign-up {
        border: 1px solid #000;
        background-color: #fff;
        width: 80px;
        height: 30px;
      }
    }
  }
  .util-menu {
    overflow: hidden;
    padding-left: 50px;
    li {
      float: left;
      padding-right: 20px;
      a {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .gnb-wrap {
    position: relative;
    top: 10px;
    left: 50px;
    border: 1px solid $mainColor-1;
    display: none;
    .gnb {
      > ul {
        position: relative;
        width: 500px;
        height: 100%;
        padding: 30px;
        > li {
          margin-bottom: 10px;
          a {
            font-size: 20px;
            font-weight: bold;
          }
          .sub-menu {
            position: absolute;
            top: 0;
            left: 300px;
            width: 530px;
            height: 300px;
            padding: 30px;
            overflow-y: auto;
            ul {
              li {
                margin-bottom: 10px;
                a {
                  font-size: 16px;
                  font-weight: normal;
                }
              }
            }
            .sub-menu-2 {
              position: absolute;
              width: 200px;
              top: 0;
              left: 150px;
              padding: 30px;
            }
          }
        }
      }
    }
    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      a {
        display: block;
        text-indent: -9999px;
        &::before {
          position: absolute;
          top: 0;
          left: -10px;
          content: '';
          display: block;
          width: 1px;
          height: 29px;
          background-color: #000;
          transform: rotate(45deg);
        }
        &::after {
          position: absolute;
          top: 0;
          left: -10px;
          content: '';
          display: block;
          width: 1px;
          height: 29px;
          background-color: #000;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
#container {
  *[class*='sec-'] {
    margin-top: 30px;
  }
  .sec-1 {
    background-color: $mainColor-2;
    .slide-banner-wrap {
      div {
        position: relative;
        width: 100%;
        height: 300px;
        & ~ div {
          display: none;
        }
        ul {
          overflow: hidden;
          padding-top: 10px;
          li {
            width: 33.3%;
            height: 100%;
            float: left;
            text-align: center;
          }
        }
        .btn-slide-prev {
          position: absolute;
          top: 40%;
          left: 30%;
          border: none;
          width: 80px;
          height: 80px;
          background: url('../images/btn-slide-prev.png') no-repeat 0 0;
        }
        .btn-slide-next {
          position: absolute;
          top: 40%;
          right: 30%;
          border: none;
          width: 80px;
          height: 80px;
          background: url('../images/btn-slide-next.png') no-repeat 0 0;
        }
      }
      > ul {
        margin-top: 10px;
        text-align: center;
        li {
          display: inline-block;
          width: 10%;
          text-align: center;
        }
      }
    }
  }
  .sec-2 {
    .keyword {
      h2 {
        span {
          display: block;
          font-size: 16px;
        }
      }
    }
    .table-wrap {
      width: 100%;
      overflow-x: auto;
      .table-list {
        width: 960px;
        height: 363px;
        margin: 46px auto 0;
        position: relative;
        a {
          position: absolute;
          display: block;
          width: 119px;
          height: 119px;
          text-align: center;
          border: 1px solid #eee;
          font-size: 14px;
          line-height: 18px;
          span {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .sec-3 {
    .best-seller-wrap {
    }
  }
}

#footer {
  display: none;
}
